@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display"), local("SFProDisplay-Regular");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
