# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,json,md,yml,yaml,css,scss}]
indent_style = space
indent_size = 2

[*.{sh,js,jsx,ts,tsx}]
trim_trailing_whitespace = true
