# APP
PORT=3000
NODE_ENV=development
PROJECT_NAME=my-app

# DATABASE (Postgres / Prisma / Mongoose)
DATABASE_URL="postgresql://postgres:postgres@localhost:54320/app_db?schema=public"
# MONGODB_URI="mongodb://localhost:27017/app_db"

# AUTH (JWT)
JWT_SECRET="your-super-secret-key-change-me"
JWT_EXPIRES_IN="7d"

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
DIRECT_URL="your-direct-url-for-prisma"
